/* @media(max-width:48em){
  .section-one{
    background-size: cover ;
  }
 

  .header a img{
    width: 80px !important;
  }


  .nav ul a.Request-quote{
    font-size: .8rem;
    padding: 1rem;
  }


  .section-one .nav li{
    padding: 1rem;
    font-size:1rem;   
    color: red;
  }

  .top-nav{
    width: 90%;
    padding-bottom: .5rem;
  }
  .nav{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
  }

} */

@media(max-width:680px){

  .container-content{
    width: 100% !important;
  }

  .col-8{
    width: 100% !important;
    padding-top: 40% !important;
    letter-spacing: 0 !important;
    padding: .5rem !important;
  }

  .col-8 h1{
    font-size: 2rem;
    padding-top: 7rem;
  }

  .col-8 p{
    font-size: .9rem !important;
  }

  /* .col-6 p{
    padding-left: 5rem;
  } */


  .section-two{
    padding-bottom: 5rem;
  }

  .section-two .container-content .col-6 h3{
    font-size: 1.2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    
  }
  .section-two .container-content .col-6 p{
    font-size: 1rem;
  }


  .grid-section .grid--4-col{
    grid-template-columns: repeat(1, 1fr);
  }

  .section-three .col-6 img{
    width: 100% !important;
  }
  

  .section-three  .col-6 h2{
    font-size: 1.4rem !important;
    padding-left: .5rem !important;
  }
  .section-three  .col-6 p{
    font-size: .9rem !important;
    padding-left: .5rem !important;
  }
  
  .section-three  .col-6 img{
    width: 100% !important;
    margin-left: 0 !important;
  }

  .grid-section{
    width: 100% !important;
  }


  .row{
    background-color: red;
    display: inline !important;
    width: 100%;
  }

  .row .col-6{
    width: 100% !important;
  }


  .section-four{
    padding-bottom: 0 !important;
  }


  .section-5 .col-8-row{
    display: block !important;
  }
  .section-5 .col-12 h1{
    padding-left: .5rem;
  }
  
  .section-5 .col-12 p{
    padding-left: .5rem;
  }
  .section-5 .col-8 form input{
    width: 300px !important;
  }

  .section-5 form .col-12 input{
    width: 330px !important;
  }
  .section-5 form .col-12 textarea{
    width: 250px !important;
  }

  .section-5 .col-8 .request{
    padding: .5rem !important;
    width:30% !important;
  }

  .footer-content{
    width: 100% !important;
    margin:  0 !important;
    padding: 0 !important;
  }

  .footer .row .links{
    text-align: center !important;
    padding-top: 0 !important;
  }
  .footer .row .logo{
    text-align: center !important;
    margin-bottom: 0 !important;
    padding-top: 1rem;
  }

  .footer .col-3 p{
    text-align: center !important;
    padding-top: 0 !important;

  }

}